<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title%></title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <navbar>
          <a href="/" class="logo">EJS👋</a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </navbar>
      </header>
      <main><%- body %></main>
      <footer>&copy; 2025 Harshal</footer>
    </div>
  </body>
</html>
