<div class="about-container">
  <div class="about-content">
    <h1>About</h1>
    <p>
      EJS (Embedded JavaScript Templates) is a simple and powerful templating
      engine that allows you to generate dynamic HTML markup using plain
      JavaScript. With EJS, you can embed JavaScript code directly within your
      HTML files, enabling you to inject data, use conditionals, and iterate
      over data structures to render complex, data-driven web pages. Its syntax
      closely resembles standard HTML, making it easy for developers to learn
      and integrate into existing projects.
    </p>
  </div>
  <div class="about-image">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.6P77eNhgpCYeBZp3358i5AHaDu%26cb%3Diwp2%26pid%3DApi&f=1&ipt=942aaaa95fbbcbe5362bae8a9a9c5b471b6b3a011695fdaf129fcb68e7a189ba&ipo=images"
      alt="About Us Image"
    />
  </div>
</div>
