<div class="hero">
  <h1>EJS Template Engine 🤖</h1>
  <h2>
    Effortlessly Create Dynamic Web Pages with Embedded JavaScript Templates
  </h2>
  <form action="">
    <input
      type="email"
      maxlength="50"
      required
      placeholder="Enter your email address"
    />
    <button class="bt">Subscribe</button>
  </form>
</div>
